<ion-view title="{{roomname}}" id="game">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back" ng-click="exit()">
            退出
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button  button-icon icon ion-wand" ng-show="needRightBtn" ng-click="clickRightBtn()"></a>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content has-header="true" has-footer="true" padding="true">
        <ul class="words">
            <div class="list card slide" ng-repeat="word in words" on-tap="playRecord({{word}})">
                <div class="item item-avatar">
                    <img ng-src="{{word.head}}" class="avatar">
                    <h2 class="nick" >{{word.nick}}</h2>
                    <div class="voice_tag">
                        <i class="ion-play  icon playicon"></i>
                    </div>
                </div>
            </div>
        </ul>

    </ion-content>
    <div class="bar bar-footer bar-stable">
        <button class="button button-block icon-left ion-ios7-mic" on-hold="recording()" on-release="recordingEnd()" id="record_btn" ng-disabled="isDisabled">按住发言</button>
    </div>
</ion-view>